* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: $text-color;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100vh;
  }
}
