$primary-color: #383f51;
$secondary-color: #dc3545;

$text-color: #343a40;

$ultra-large-screen: 1400px;
$large-screen: 1024px;
$medium-screen: 768px;
$small-screen: 640px;
$extra-small-screen: 480px;
$mobile-screen: 320px;
