$primary-color: #383f51;
$secondary-color: #dc3545;

$primary-text-color: #343a40;
$secondary-text-color: #6c757d;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra-large: 24px;
$font-size-ultra-large: 30px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$ultra-large-screen: 1400px;
$large-screen: 1024px;
$medium-screen: 768px;
$small-screen: 640px;
$extra-small-screen: 480px;
$mobile-screen: 320px;
