.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -55px;
  height: 100%;
  align-self: center;

  & .mainInput {
    width: 100%;
    max-width: 500px;
    margin: 0 16px;

    & input {
      background-color: white;
      border-radius: 4px;
    }
  }

  & .mainButton {
    height: 54px;
  }
}
